.homepage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: url(../../assets/home-img.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.homepage h1 {
  color: #fff;
}
.homepage a {
  text-decoration: none;
  color: #fff;
}
.homepage a:hover {
  color: var(--text-color);
}
